package {{ .pkg }}

import (
	"fmt"
	"log"
	"os"

	"github.com/spf13/cobra"
	{{ if .isPostgresSQL }}"{{ .name }}/configs"{{ end }}
	{{ if .isRedis }}"{{ .name }}/configs"{{ end }}
)

var rootCmd = &cobra.Command{
	Use:   "serve",
	Short: "{{ .name }} is an HTTP API service",
}

func init() {
	cobra.OnInitialize(initConfig)
}

func initConfig() {
	{{ if .isPostgresSQL }}
	configs.InitDB()
	{{ end }}
	{{ if .isRedis }}
	configs.InitRedisCache()
	{{ end }}
}

// Execute is root function
func Execute() {
	if err := rootCmd.Execute(); err != nil {
		fmt.Println(err)
		os.Exit(1)
	}
}
