package cmd

import (
	"fmt"
	"os"

	"github.com/spf13/cobra"
)

var rootCmd = &cobra.Command{
Use:  "{{.AppName}}",
	RunE: mainRunE,
}

func init() {
}

func mainRunE(cmd *cobra.Command, args []string) error {
	return nil
}

// Execute is root function
func Execute() {
	if err := rootCmd.Execute(); err != nil {
		fmt.Println(err)
		os.Exit(1)
	}
}
