package portregistry

import (
  portservice "{{.PackagePath}}/internal/core/port/inbound/service"
  "{{.PackagePath}}/internal/core/port/outbound/repository"
)

//go:generate mockgen -destination=../../../../../shared/mock/registry/registry.go -package=mockregistry -source=registry.go
type Service interface {
  {{- range .Services}}
    Get{{.}}() portservice.{{.}}
  {{- end}}
}

type Repository interface {
{{- if .IsCache}}
	CacheRepository() repository.CacheRepository
{{- end}}
{{- if .IsPSQL}}
  PSQLRepository() repository.PSQLRepository
{{- end}}
{{- if .IsMySQL}}
  MySQLRepository() repository.MySQLRepository
{{- end}}
{{- if .IsSQLite}}
  SQLiteRepository() repository.SQLiteRepository
{{- end}}
{{- if .MongoDB}}
  MongoRepository() repository.MongoRepository
{{- end}}
{{- range .Repositories}}
  Get{{.}}() repository.{{.}}
{{- end}}
}
