package router

import (
	"context"
	"fmt"
	"log/slog"
	"os/signal"
	"syscall"

	"github.com/gofiber/fiber/v2"
	"{{.PackagePath}}/config"
	handlerv1 "{{.PackagePath}}/internal/adapter/inbound/rest/router/v1/handler"
	"{{.PackagePath}}/internal/adapter/inbound/rest/router/v1/middleware"
	portadapter "{{.PackagePath}}/internal/core/port/inbound/adapter"

	"github.com/muhfaris/r1/internal/adapter/inbound/rest/router/group"
	"github.com/gofiber/fiber/v2/middleware/requestid"
)

type Router struct {
	Client *fiber.App
	Port   int
}

func Init(port int) portadapter.Rest {
	r := fiber.New(fiber.Config{
		AppName:                  "{{.AppName}}",
		EnableSplittingOnParsers: config.App.Fiber.EnableSplittingOnParsers,
		EnablePrintRoutes:        config.App.Fiber.EnablePrintRoutes,
		<!-- ErrorHandler:             middlewares.Error(), -->
	})

	r.Use(requestid.New())
	r.Use(middleware.Latency())

	// public
	// publicGroup := r.Group("/")
	// publicGroup.Get("/health", handlerv1.Health())

	h := handlerv1.New()
	group.V1(r, h)

	return &Router{
		Client: r,
		Port:   port,
	}
}

func (r *Router) Run() error {
	// gracefully shutdown
	ctx, stop := signal.NotifyContext(context.Background(), syscall.SIGINT, syscall.SIGTERM)
	defer stop()

	var err error

	go func() {
		port := fmt.Sprintf(":%d", r.Port)
		slog.Info("Listening on port", "port", port)
		if err := r.Client.Listen(port); err != nil {
			return
		}
	}()

	{{ RawHTML "<-ctx.Done()"}}
	err = r.Client.Shutdown()
	if err != nil {
		return fmt.Errorf("failed to shutdown: %v", err)
	}

	return err
}
