package service

import (
  "{{.PackagePath}}/internal/core/domain"
  portservice "{{.PackagePath}}/internal/core/port/inbound/service"
)

type {{.ServiceName}} struct { }

func New{{.ServiceName}}() portservice.{{.ServiceName}} {
  return &{{.ServiceName}}{}
}

{{- range .Methods}}
  func (s *{{$.ServiceName}}) {{.MethodName}}(ctx context.Context {{range .Params}}, {{.Name}} {{.Type}} {{end}}) ({{range $index, $element := .ReturnTypes}}{{if $index}}, {{end}}{{$element.Type}}{{end}}){
  return {{range $index, $element := .ReturnTypes}}{{if $index}}, {{end}}{{if eq $element.Type "error"}} nil {{else}} {{$element.Type}}{}{{end}}{{end}}
  }

{{- end}}
