package service

import (
  "{{.PackagePath}}/internal/core/domain"
  portservice "{{.PackagePath}}/internal/core/port/inbound/service"
	portregistry "{{.PackagePath}}/internal/core/port/inbound/registry"
)

type {{.ServiceName}} struct { 
	reg portregistry.Repository
}

func New{{.ServiceName}}(reg portregistry.Repository) portservice.{{.ServiceName}} {
  return &{{.ServiceName}}{reg:reg}
}

{{- range .Methods}}
  func (s *{{$.ServiceName}}) {{.MethodName}}(ctx context.Context {{range .Params}}, {{.Name}} {{.Type}} {{end}}) ({{range $index, $element := .ReturnTypes}}{{if $index}}, {{end}}{{$element.Type}}{{end}}){
  return {{range $index, $element := .ReturnTypes}}{{if $index}}, {{end}}{{if eq $element.Type "error"}} nil {{else}} {{$element.Type}}{}{{end}}{{end}}
  }

{{- end}}
