package {{ .Repository }}

import (
	"context"

	"github.com/google/uuid"
)

// QueryResult is to wrap query result
type QueryResult struct {
	Result interface{}
	Error  error
}

// {{ .Name }}Query is contract query operation for rule query
type {{ .Name }}Query interface {
	Find{{ .Name }}ByID(ctx context.Context, id uuid.UUID) <-chan QueryResult
}
