package {{ .Repository }}

import (
	"context"
	"database/sql"

	"github.com/google/uuid"
)

// RuleMutate is an contract to mutate rule data
type RuleMutate interface {
	Add(ctx context.Context, tx *sql.Tx) <-chan QueryResult
}

// TaskMutate is an contract to mutate task data
type TaskMutate interface {
	Add(ctx context.Context, tx *sql.Tx, tasks *domain.ArrayOfRuleTasks, ruleHubID, actionHubID uuid.UUID) <-chan QueryResult
}

// AccountMutate is an contract to mutate account data
type AccountMutate interface {
	Add(ctx context.Context, tx *sql.Tx, user *domain.UserAccount) <-chan QueryResult
}
