package portservice

type {{.ServiceName}} interface {
  {{- range .Methods}}
    {{.MethodName}}(ctx context.Context {{range .Params}}, {{.Name}} {{.Type}} {{end}}) ({{range .ReturnTypes}}{{.Type}} {{end}})
  {{- end}}
}
