package handlersv1

import (
	"github.com/gofiber/fiber/v2"
	"{{.PackagePath}}/internal/adapter/rest/routers/v1/response"
)

func {{.HandlerName}() func(c *fiber.Ctx) error {
	return func(c *fiber.Ctx) error {
		return response.Success(c, "I'm Alive!")
	}
}
