package group

import (
	"github.com/gofiber/fiber/v2"
	handlerv1 "{{.PackagePath}}/internal/adapter/inbound/rest/router/v1/handler"
)

func V1(r *fiber.App, h *handlerv1.Handler) {
	// public
	// publicGroup := r.Group("/")
	// publicGroup.Get("/health", handlerv1.Health())

  {{- range .Groups}}
  	{{$groupName:= .GroupName}}
  	{{ $groupName}}(r,h) 
  {{- end}}
}

{{- range .Groups}}
	{{$groupName:= .GroupName}}
func {{$groupName}}(r *fiber.App, h *handlerv1.Handler) {
  {{$groupName}} := r.Group("{{.GroupPath}}")
  {{- range .Routes}}
    {{$groupName}}.{{.Method}}("{{.Path}}", h.{{.Handler}}()).Name("{{.Handler}}")
  {{- end}}
}

{{- end}}
