app:
  name: rocket-app
  port: 7000
  debug:
    config: false
  fiber:
    enable_print_routes: true
    enable_splitting_on_parsers: true
  {{- if .IsRedis}}
  cache:
    redis:
      addr: localhost:6379
      username:
      password:
      db: 0
  {{- end}}
  datatore:
    {{- if .IsPSQL}}
    psql:
      host: localhost
      port: 5432
      username: postgres
      password: postgres
      db: postgres
    {{- end}}
    {{- if .IsSQLite}}
    sqlite:
      path: ./app.db
      mode: rwc
    {{- end}}
    {{- if .IsMySQL}}
    mysql:
      host: localhost
      port: 3306
      username: mysql
      password: mysql
      db: myapp
    {{- end}}
    {{- if .IsMongoDB}}
    mongodb:
      host: localhost
      port: 27017
      username: mongo
      password: mongo
      db: myapp
      auth_db: admin
    {{- end}}
