package portservice

import (
"{{.PackagePath}}/internal/core/domain"
)

type {{.ServiceName}} interface {
  {{- range .Methods}}
    {{.MethodName}}(ctx context.Context {{range .Params}}, {{.Name}} {{.Type}} {{end}}) ({{range $index, $element := .ReturnTypes}}{{if $index}}, {{end}}{{$element.Type}}{{end}})
  {{- end}}
}
