package portservice

import (
"{{.PackagePath}}/internal/core/domain"
)

//go:generate mockgen -destination=../../../../../shared/mock/service/service.go -package=mockservices -source=service.go
{{- range .Services}}
  type {{.ServiceName}} interface {
    {{- range .Methods}}
      {{.MethodName}}(ctx context.Context {{range .Params}}, {{.Name}} {{.Type}} {{end}}) ({{range $index, $element := .ReturnTypes}}{{if $index}}, {{end}}{{$element.Type}}{{end}})
    {{- end}}
  }
{{- end}}

